---
interface Project {
    name: string;
    description: string;
    link?: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: Project[] = [{
    name: 'Vicharak Vaaman SBC',
    description: 'Led the BSP development for Vicharak\'s Vaaman Single Board Computer (RK3399-based). Managed device tree configurations, U-Boot bootloader integration, and Linux kernel customizations.',
    link: {
        url: 'https://vicharak.in/single-board-computers/vaaman',
        buttonLabel: 'View Product'
    }
}, {
    name: 'Custom ROM & Kernel Development',
    description: 'Extensive work on custom ROM and kernel development for Xiaomi devices, including Redmi K20 Pro, Mi 11X, Mi 12X, and Poco F2/F3. Focused on optimizing performance and power management for Qualcomm Snapdragon platforms.',
    link: {
        url: 'https://github.com/UtsavBalar1231',
        buttonLabel: 'View GitHub Projects'
    }
}, {
    name: 'Linux BSP Development',
    description: 'Freelance work on multiple projects involving BSP development, Linux kernel customization, and device driver integration for platforms like Qualcomm Snapdragon, Raspberry Pi, and Rockchip SoCs.',
}];
---

<div>

    <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        {projects.map(project =>

            <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-black">

                <h3 class="text-xl font-semibold text-white mb-2">
                    {project.name}
                </h3>

                <p class="text-gray-400">
                    {project.description}
                </p>

                {
                    project.link?.url ?
                        <a
                            href={project.link.url}
                            title={project.link.title || project.name}
                            target={project.link.target || '_blank'}
                            class="
                                w-full px-4 py-2.5 mt-4 text-center

                                border border-gray-600 rounded-lg

                                hover:text-primary
                                hover:border-primary
                            ">
                            {project.link.buttonLabel || 'Open Project Website'}
                        </a>
                    : null
                }

            </div>

        )}

    </div>

</div>
