---
export interface Props {
  icon:
    | "github"
    | "linkedIn"
    | "twitter"
    | "email"
    | "xing"
    | "telegram"
    | "reddit"
    | "cat";
}

const { icon } = Astro.props;

import { socialIconPaths } from "../data/iconPaths";
---

<span class="social-icon">
  <svg viewBox="0 0 24 24" width="18" height="18" fill="currentColor">
    <path d={socialIconPaths[icon]}></path>
  </svg>
</span>

<style>
  .social-icon {
    display: inline-flex;
    transition: all 0.2s ease;
  }

  /* Apply hover effect using CSS variables */
  :global(a:hover .social-icon) {
    color: var(--bg-primary);
  }
</style>
